<%= form_with(model: message, data: { controller: "mentions" }) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.rich_text_area :content, data: { mentions_target: "editor" } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <fieldset>
    <legend>Mentions</legend>

    <turbo-frame id="mentions"></turbo-frame>
  </fieldset>
<% end %>

<form action="<%= mentions_path %>" data-turbo-frame="mentions">
  <label for="new_mention_username">Username</label>
  <input id="new_mention_username" name="username" type="search" autocomplete="username" autocorrect="off">

  <button>Search</button>
</form>
