<%= form_with(model: message, data: { controller: "mentions", action: "trix-change->mentions#expand",
                                      mentions_word_pattern_value: /^@(.*?)$/.source, mentions_break_pattern_value: /\s/.source }) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.rich_text_area :content, data: { mentions_target: "editor" } %>

    <button form="new_mention" name="username" data-mentions-target="submit" hidden>Search</button>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <fieldset>
    <legend>Mentions</legend>

    <turbo-frame id="mentions" hidden
                 data-mentions-target="listbox"></turbo-frame>
  </fieldset>
<% end %>

<form id="new_mention" action="<%= mentions_path %>" data-turbo-frame="mentions"></form>
