<%= form_with(model: message, data: { controller: "mentions" }) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.rich_text_area :content, data: { mentions_target: "editor" } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <fieldset>
    <legend>Mentions</legend>

    <% User.all.order(username: :asc).each do |user| %>
      <button type="button" name="sgid" value="<%= user.attachable_sgid %>"
              data-action="click->mentions#insert">
        <%= render partial: user.to_trix_content_attachment_partial_path, locals: { user: user } %>
      </button>
    <% end %>
  </fieldset>
<% end %>
