<article id="<%= dom_id message %>" class="flex items-start group current:flex-row-reverse"
         data-controller="autoscroll current"
         data-current-user-class="current"
         data-current-token-value="<%= message.sender.signed_id purpose: "current" %>">
  <%= image_tag message.sender.avatar, class: "rounded-full mx-4",
        width: 32, height: 32, alt: message.sender.name %>

  <div class="flex flex-col items-start space-y-1 group-current:items-end">
    <div class="rounded-xl bg-gray-100 p-2 group-current:bg-blue-500 group-current:text-white">
      <%= message.content %>
    </div>

    <relative-time datetime="<%= message.created_at.iso8601 %>">
      <time datetime="<%= message.created_at.iso8601 %>">
        <%= localize message.created_at, format: :long %>
      </time>
    </relative-time>
  </div>
</article>
