<%= turbo_stream_from @streamables %>

<main class="flex flex-col h-screen">
  <section class="flex-1 flex flex-col overflow-y-scroll space-y-2" id="messages">
    <%= render partial: "messages/message", collection: @messages.reverse %>

    <p class="hidden text-lg mx-auto only:block">Start the conversation!</p>
  </section>

  <aside>
    <%= form_with model: [ @user, @messages.new ], data: { controller: "hotkey" } do |form| %>
      <%= form.label :content %>
      <%= form.rich_text_area :content, class: "h-24 overflow-y-scroll", autofocus: true,
            data: { hotkey_modified_param: true, hotkey_key_param: "Enter",
                    action: "keydown->hotkey#requestSubmit" } %>

      <button>Send</button>
    <% end %>
  </aside>
</main>
