<section>
  <h1>To-do (<%= tag.span @tasks.to_do.size, id: "to_do_size" %>)</h1>

  <ol id="to_do_tasks">
    <%= render collection: @tasks.to_do, partial: "tasks/task" %>
  </ol>

  <details>
    <summary>Add task</summary>
    <turbo-frame id="new_task" src="<%= new_task_path %>" loading="lazy"></turbo-frame>
  </details>
</section>

<section>
  <h1>Done (<%= tag.span @tasks.done.size, id: "done_size" %>)</h1>

  <ol id="done_tasks">
    <%= render collection: @tasks.done, partial: "tasks/task" %>
  </ol>
</section>
