<section class="grid gap-2 max-w-prose m-auto">
  <%= link_to "Edit Article", edit_article_path(@article) %>

  <% frame_id = dom_id(@article, "name_turbo_frame") %>

  <%= form_with model: @article, class: "contents", data: { turbo_frame: frame_id } do %>
    <turbo-frame id="<%= frame_id %>" class="contents group inline-edit">
      <h1><%= @article.name %></h1>

      <%= link_to edit_article_path(@article) do %>
        Edit <%= @article.class.human_attribute_name(:name) %>
      <% end %>
    </turbo-frame>
  <% end %>

  <span>By: <%= @article.byline %></span>

  <% if @article.published_on.nil? %>
    <span>(Unpublished)</span>
  <% else %>
    <%= localize @article.published_on, format: :long %>
  <% end %>

  <strong>Categories</strong>

  <span>
    <% @article.categories.each do |category| %>
      <span><%= category.name %></span>
    <% end %>
  </span>

  <%= @article.content %>
</section>
