<section class="w-full max-w-lg">
  <h1>New document</h1>

  <%= form_with model: @document, data: { controller: "fields" } do |form| %>
    <%= render partial: "errors", object: @document.errors %>

    <%= field_set_tag do %>
      <%= form.label :access %>
      <%= form.select :access, [], {}, autocomplete: "off",
                      data: { action: "change->fields#enable" } do %>
        <% Document.accesses.keys.each do |value| %>
          <%= tag.option value.humanize, value: value,
                                        aria: { controls: form.field_id(:access, value, :fieldset) } %>
        <% end %>
      <% end %>
      <noscript>
        <button formmethod="get" formaction="<%= new_document_path %>">Select access</button>
      </noscript>
    <% end %>

    <%= field_set_tag "Passcode protect", disabled: !@document.passcode_protect?, class: "disabled:hidden",
                                id: form.field_id(:access, :passcode_protect, :fieldset),
                                name: form.field_name(:access) do %>
      <%= form.label :passcode %>
      <%= form.text_field :passcode %>
    <% end %>

    <%= form.label :content %>
    <%= form.rich_text_area :content %>

    <%= form.button %>
  <% end %>
</section>
