<section class="w-full max-w-lg">
  <h1><%= @address.line_1 %> <%= @address.line_2 %></h1>

  <p><%= @address.city %>, <%= @address.state_name %> <%= @address.postal_code %>, <%= @address.country_name %></p>
</section>
