<%= tag.li class: "mt-2", hidden: form.object.marked_for_destruction?,
           data: { controller: "element" } do %>
  <div class="grid gap-2">
    <%= form.hidden_field :id %>

    <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.label :email_address %>
    <%= form.email_field :email_address %>

    <div>
      <%= form.check_box :_destroy, data: { action: "input->element#hide" },
                                    autocomplete: "off" %>
      <%= form.label :_destroy %>
    </div>
  </div>
<% end %>
