<div id="<%= dom_id location %>" class="scaffold_record">
  <p>
    <strong>Name:</strong>
    <%= location.name %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= location.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= location.longitude %>
  </p>

  <p>
    <%= link_to "Show this location", location %>
  </p>
</div>
