<!DOCTYPE html>
<html data-controller="scroll disclosure session-resume"
      data-session-resume-selector-value="input:not([type=password])"
      data-action="turbo:before-visit->scroll#cache
                   turbo:before-visit->scroll#invalidate
                   turbo:before-visit->disclosure#invalidate
                   turbo:visit->scroll#preventVisitScroll
                   turbo:load->scroll#read
                   turbo:submit-start->session-resume#setForm
                   turbo:before-render->session-resume#cache
                   turbo:render->session-resume#read
                   turbo:frame-render->session-resume#read">
  <head>
    <title>HotwireExampleTemplate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://cdn.tailwindcss.com"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="grid grid-cols-2">
    <%= yield %>
  </body>
</html>
